In [ ]:
[0.00072877 0.00183744 0.02912764 0.08639831 0.0652484  0.01721144
 0.02898809 0.03184891 0.00127923 0.00705514 0.0029461  0.00172114
 0.00345004 0.0576118  0.00679154 0.01640514 0.00369038 0.00541928
 0.35471841 0.01981641 0.00398499 0.0058922  0.00459747 0.04953328
 0.01034237 0.00371364 0.00455095 0.02353005 0.02589468 0.01552906
 0.05651089 0.00225609 0.01193947 0.01275352 0.02667773]

In [2]:
import warnings
import numpy as np
import pandas as pd
from pyod.models.mad import MAD
from pyod.models.knn import KNN
from pyod.models.lof import LOF
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

pd.set_option('display.max_rows', 250)
warnings.filterwarnings('ignore')

In [7]:
data_values = [0.00072877,
                0.00183744,
                0.02912764,
                0.08639831,
                0.0652484,
                0.01721144,
                0.02898809,
                0.03184891,
                0.00127923,
                0.00705514,
                0.0029461,
                0.00172114,
                0.00345004,
                0.0576118,
                0.00679154,
                0.01640514,
                0.00369038,
                0.00541928,
                0.35471841,
                0.0198164,
                1,
                0.00398499,
                0.0058922,
                0.00459747,
                0.04953328,
                0.01034237,
                0.00371364,
                0.00455095,
                0.02353005,
                0.02589468,
                0.01552906,
                0.05651089,
                0.00225609,
                0.01193947,
                0.01275352,
                0.02667773]
       
data = pd.DataFrame(data_values, columns=['sleep'])
data.head()

      sleep
0  0.000729
1  0.001837
2  0.029128
3  0.086398
4  0.065248